@import "tailwindcss";
@import "nextra-theme-docs/style.css";

@variant dark (&:where(.dark, .dark *));

@layer base {
  html::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }

  html,
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
